body {
    margin: 0 !important;
    padding: 0 !important;
}

  /* mapbox map div */
#map {
    top: 0;
    bottom: 0;
    width: 70vw;
    height: 100vh;
}

  /* find_coord.html */
.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.share_container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0;
}

#formDiv {
    width: 30vw;
    margin: 0;
}

.coord_dir {
    padding: 2em;
}


/* /////////////////// */
img {
    width: 250px;
    border-radius: 3px;
}

/* posts selectors */
#postDetail{
    display: flex;
    justify-content: center;

}

#postDetail img{
    width: 80vh;
}

#editPost{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}


article {
    margin: 5em;
}

form {
    margin: 3%;
}

#favBtn{
    margin: 0;
}
#favBtn button {
    outline: none;
}

/* signin, register forms */
.main_forms {
    padding: 2em;
}


