<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="/static/app.css">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
</head>
<body>
    
        <!-- Navbar -->
<div class="uk-position-relative">
    {% block slideshow%}

    {% endblock %}
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent uk-light" uk-navbar>
            <div class="uk-navbar-left uk-margin-small-left">
                <ul class="uk-navbar-nav">
                    <a class="uk-navbar-item uk-logo" href="/">Shared Sights</a>
                        <li><a href="#">Explore</a></li>
                        <li><a href="#">Share</a></li>
                </ul>
            </div>

            <div class="uk-navbar-right uk-margin-medium-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">User</a>
                        <div class="uk-navbar-dropdown ">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">My Posts</a></li>
                                <li><a href="#">Edit User</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>




    {% block content %}

    {% endblock %}


    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit-icons.min.js"></script>


</body>
</html>