<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>{% block title%}Shared Sights {% endblock %}</title>
    <link rel="stylesheet" href="/static/app.css">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />

    <!-- MapBox -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

</head>
<body>
    <div class="uk-position-top">
    {% for msg in get_flashed_messages() %}
    <p>{{msg}}</p>
    {% endfor %}        
    </div>


    {% block slideshow %}
    <!-- slideshow for homepage -->
    {% endblock %}


    <!-- Navbar -->
    {% block nav%}
    <div class="uk-position-top">
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
        <nav class="uk-navbar-container uk-navbar-light uk-dark" uk-navbar>
            <div class="uk-navbar-left uk-margin-small-left">
                <ul class="uk-navbar-nav">
                    <a class="uk-navbar-item uk-logo" href="/">Shared Sights</a>
                        <li><a href="/explore">Explore</a></li>
                        <li><a href="/location-picker">Share</a></li>
                        <li><a href="/users">Users</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                </ul>
            </div>

            <div class="uk-navbar-right uk-margin-medium-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="#">My Account</a>
                        <div class="uk-navbar-dropdown ">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">My Posts</a></li>
                                <li><a href="#">Edit User</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    {% endblock %}


    {% block content %}
    <!-- all other content -->
    {% endblock %}


    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/js/uikit-icons.min.js"></script>


</body>
</html>