{% extends 'base.html' %}

{% block content %}
<body>
    <!-- Mapbox -->
    <div class="share_container">

        <!-- map canvas -->
        <div id="map" style="height: 91.7vh"></div>
        <pre id="coordinates" class="coordinates"></pre>

        <!-- form sheet -->
        <div id="formDiv">
            <div class="coord_dir">
                <h4 class="uk-text-emphasis">Directions: </h4>
                <ul class="uk-list uk-list-disc">
                    <li>Drag the 
                    <span uk-icon="location" class="uk-text-primary"></span> in the middle of the map
                    to an approximate location.
                    </li>
                    <li>
                        When you are satisfied with the coordinates, click <span class="uk-text-primary">'Share Location'</span> .
                    </li>
                    <li>
                        The coordinates you picked will be sent to a form where you can talk more about your location!
                    </li>
                </ul>
            </div>

            <form action="/new-post">
                <h4 class="uk-text-emphasis">Coordinates: </h4>
                <p id="lat">Latitude:</p>
                <p id="lng">Longitude:</p>
                <button class="uk-button uk-button-default uk-text-primary">Share location</button>
            </form>


    </div>

    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        
    <script type="text/javascript" src="{{ url_for('static', filename='find_coord.js') }}"></script>

</body>


{% endblock %}