<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pick a place to share</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>

    <!-- css for map positions, body, coordiante, map -->
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>
    <!-- Mapbox -->
    <div id="map"></div>
    <pre id="coordinates" class="coordinates"></pre>
    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        
    <script type="text/javascript" src="{{ url_for('static', filename='find_coord.js') }}"></script>

</body>


</html>
