{% extends 'base.html' %}



    {% block slideshow%}
<div>
        <div uk-slider="autoplay: true; autoplay-interval: 4000">
        <ul class="uk-slider-items uk-child-width-1-3@s uk-child-width-1-4@ uk-grid-match">
            <li>
                    <img src="https://images.unsplash.com/photo-1414390579679-7d6cc7b20436?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1999&q=80"
                        alt="">                
            </li>

            <li>
                <img src="https://images.unsplash.com/photo-1515784638688-3f7e90ebb446?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80"
                    alt="">
            </li>

            <li>
                <img src="https://images.unsplash.com/photo-1478436127897-769e1b3f0f36?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                    alt="">
            </li>

            <li>
                <img src="https://images.unsplash.com/photo-1505852679233-d9fd70aff56d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
                    alt="">
            </li>

            <li>
                <img src="https://images.unsplash.com/photo-1555990794-6d00be0d6f95?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
                    alt="">
            </li>
            
        </ul>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
    <hr>

    <!-- recent blogs -->
    <div class="uk-section uk-section-default uk-padding-small">
        <div class="uk-container uk-container-xlarge">

            <h1 class="uk-text-center">Recent Posts</h1>
            <div class="homepg_section uk-grid-match uk-child-width-1-3@s uk-child-width-1-3@m uk-child-width-1-3@l uk-text-center"
                uk-grid>
                {% for p in recent %}
                <div>
                        <a href="/post/{{p.id}}">
                            <img class="thumbnail_pic"src="{{p.image}}">                            
                        </a>                    
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    

    <!--Trending section -->

    <div class="uk-section uk-section-default uk-padding-small">
        <div class="uk-container uk-container-xlarge">

            <h1 class="uk-text-center">Trending</h1>
            <div class="homepg_section uk-grid-match uk-child-width-1-3@s uk-child-width-1-3@m uk-child-width-1-3@l uk-text-center"
                uk-grid>
                {% for p in top %}
                    <a href="/post/{{p.id}}">
                       <img class="thumbnail_pic" src="{{p.image}}">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}