{% extends 'base.html' %}


    {% block content %}
    <!-- geocoder scripts -->
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js">
    </script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
        type="text/css" />
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

        <!-- map div for mapBox -->
        <div id='mapDiv'>
            <div id='map' style=' width: 100vw; height: 91.7vh;'>

                <!-- jQuery -->
                <script src="https://code.jquery.com/jquery-3.5.1.js"
                    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

                <script type="text/javascript"> 
                
                    mapboxgl.accessToken = '{{token|safe}}'
                    var map = new mapboxgl.Map({
                    container: 'map', // container ID
                    style: 'mapbox://styles/mapbox/streets-v11', // style URL
                    center: [-1.527581244588987 , 43.130288226235024], // starting position [lng, lat]
                        zoom: 2,// starting zoom
                        minZoom: 1.39 
                    });

                    //Creates a search with geocoding
                    map.addControl(
                    new MapboxGeocoder({
                    accessToken: mapboxgl.accessToken,
                    mapboxgl: mapboxgl
                    })

                    );

                    // testing py data
                    var parsed = JSON.parse('{{ points | tojson}}');
                    console.log(parsed)

                    function get_markers(arr){
                        for(let p in arr){
                        
                        let title = arr[p]['title']
                        let id = arr[p]['id']
                        let coords = arr[p]['coords']
                        // adds marker at set location
                        var marker = new mapboxgl.Marker()
                            .setLngLat(coords)
                            .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
                            .setHTML(`<a href="/post/${id}">${title}</a>`))
                            .addTo(map);
                        }
                    }

                    get_markers(parsed)

                </script>
            </div>            
        </div>

    {% endblock %}

