{% extends 'base.html' %}


    {% block content %}
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js">
    </script>
    <link rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
        type="text/css" />
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

<div id='map' style='width: 100vw; height: 90vh; margin-top: 5%;'>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <script type="text/javascript"> 
        mapboxgl.accessToken =
        'pk.eyJ1Ijoiam95am95am95eSIsImEiOiJja2w4YzZyM3kxcTdmMnZwZXdiNG5yczRjIn0.CDJtfCb3X8TKcTBRMPBJFA';

        var map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/outdoors-v11', // style URL
        center: [-118.1661, 33.9446], // starting position [lng, lat]
        zoom: 8 // starting zoom
        });

        
        // testing py data
        let test = {{ point }}
        console.log(`this is the test: ${test}`)
        console.log({{ point|safe }})


        //Creates a search with geocoding
        map.addControl(
        new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
        })

        );

        // adds marker at set location
        var marker = new mapboxgl.Marker()
        .setLngLat(test)
        .setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
        .setHTML('<p>popup box </p>'))
        .addTo(map);
    </script>

</div>
    {% endblock %}

