{% extends 'base.html' %}


{% block content %}
    <div class="uk-position-top-center uk-overlay uk-overlay-default">
        <form uk-grid>
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">New Post</legend>

                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}

                <div class="uk-margin uk-width-1-1">
                    {{field.label}}
                    <input class="uk-input" type="text">
                </div>

                {% endfor %}

                <button class="uk-button uk-button-primary uk-margin  uk-width-1-1">Post</button>
            </fieldset>

        </form> 
    </div>



{% endblock %}