{% extends 'base.html' %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="uk-alert-danger" uk-alert>
        <p>{{ message }}</p>
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<article>
    <h1>User List!</h1>
        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@l">
            {% for user in users %}
            <h3 class="uk-card-title">
                <a href="/users/{{user.username}}">{{user.display_name}} </a>
                ({{user.username}})</h3>
            <p>{{user.caption}}</p>
            {% endfor %}
        </div>
</article>

{% endblock %}