{% extends 'base.html' %}

{% block content %}

<div class="main_forms uk-container uk-container-small">
    <div class="row justify-content-md-center">
        <h1>Edit Your Account</h1>
        <form action="/users/{{g.user.id}}/edit" method="POST">
            {{ form.hidden_tag() }}

            <div class="uk-margin">
                {{form.username.label}}
                <div class="uk-form-controls">
                    {{form.username (class_="uk-input uk-form-width-medium")}}
                </div>
            </div>
            <div class="uk-margin">
                {{form.display_name.label}}
                <div class="uk-form-controls">
                    {{form.display_name (class_="uk-input uk-form-width-medium")}}
                </div>
            </div>
            <div class="uk-margin">
                {{form.area.label}}
                <div class="uk-form-controls">
                    {{form.area (class_="uk-input uk-form-width-medium")}}
                </div>
            </div>
            <div class="uk-margin">
                {{form.caption.label}} 
                <div class="uk-form-controls">
                    {{form.caption (class_="uk-textarea uk-form-width-large")}}
                </div>
            </div>


            <button class="uk-button uk-button-default uk-text-success">Make Changes</button>
        </form>
        
        <hr>
        <h3>Delete Account</h3>
        <p>You are welcome to delete your account but keep in mind everything associated will be deleted too!</p>
        <form action="/users/{{g.user.id}}/delete" method="POST">
            <button class="uk-button uk-text-danger">Delete Account</button>
        </form>
    </div>
</div>


{% endblock %}