{% extends 'base.html' %}

{% block content %}


    <!-- error message -->

    {% for msg in get_flashed_messages() %}    
    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{msg}}</p>
    </div>
    {% endfor %}


<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h2 class="join-message">Login Here!</h2>
        <form action="/login" id="user_form" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}

            <p>
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {{ field(placeholder=field.label.text, class="form-control") }}
            </p>

            {% endfor %}

            <button>Login</button>
        </form>
    </div>
</div>

{% endblock %}