{% extends 'base.html' %}

{% block content %}


    <!-- error message -->

    <!-- flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, msg in messages %}
    <div class="uk-alert-{{category}}" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>{{msg}}</p>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<div class="main_forms uk-container uk-container-small">
    <div class="row justify-content-md-center">
        <div class="col-md-7 col-lg-1-1">
            <h2 class="join-message">Sign-In Here!</h2>
            <form action="/login" id="user_form" method="POST">
                {{ form.hidden_tag() }}
                {% for field in form if field.widget.input_type != 'hidden' %}

                <p>
                    {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    <p>{{field.label.text}}</p>
                    {{ field(class_="uk-input uk-form-width-medium") }}
                </p>

                {% endfor %}

                <button class="uk-button uk-button-primary">Sign-in</button>
            </form>

            <hr class="uk-margin-medium">
            
            <p> <h4 style="margin-bottom: .4em;">New here?</h4>Go to the 
                <a class="uk-link-primary" href="/register">register</a>
                page to start posting!
            </p>
        </div>
    </div>    
</div>


{% endblock %}