{% extends 'base.html' %}


{% block content %}


<!-- DISPLAY PICS OF USERS POSTINGS -->
<article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{user.username}}</a></h1>

    <p class="uk-text-lead">This user takes pics of things and blah blah </p>

</article>


<!-- card sample -->
<div class=" uk-child-width-1-4@l uk-grid-match" uk-grid>

        {% for post in user.posts %}    
        <div class="uk-card uk-card-hover uk-card-body uk-margin-auto">

            <img src="{{post.image}}">
            <a class="uk-button uk-button-text" href="/post/{{post.id}}">Read more</a>
        </div>
        {% endfor %}

</div>


{% endblock %}